<!DOCTYPE html>
<html>
  <head>
    <title>WordWatch - Home</title>
    <link rel="stylesheet" href="../static/css/main_style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/4fb653a294.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="sidebar">
      <div class="history">History</div>
      <div class="sidebarelements">
        <div class="element">
          <img id="arrow" src="../static/images/ep_arrow-down.png" />
          <p>Hey,I can't believe...</p>
        </div>
        <div class="element">
          <img src="../static/images/ep_arrow-down.png" />
          <p>Hey,I can't believe...</p>
        </div>
        <div class="element">
          <img src="../static/images/ep_arrow-down.png" />
          <p>Hey,I can't believe...</p>
        </div>
        <div class="element">
          <img src="../static/images/ep_arrow-down.png" />
          <p>Hey,I can't believe...</p>
        </div>
      </div>
    </nav>
    <nav class="navigationbar">
      <div class="left">
        <img src="../static/images/sidebar-close.png" id="sidebar-close" />
        <div class="icon">
          <img class="logo" src="../static/images/WordWatch.png" alt="logo" />
        </div>
      </div>
      <div class="right">
        <img class="user" src="../static/images/Male User.png" />
      </div>
    </nav>
    <nav class="rightsidebar">
      <ul class="userbar">
        <li class="userbaritem">Profile</li>
        <li id="logout" class="userbaritem">Logout</li>
      </ul>
    </nav>
    <main class="themain">
      <div class="input-content">
        <form method="POST" action="/main_page">
          <textarea
            name="text"
            class="box"
            rows="10"
            cols="100"
            placeholder="Type something..."
          ></textarea>

          <div class="buttons">
            <button type="submit" class="check">Check</button>
            <button type="submit" class="filter">Filter</button>
          </div>
        </form>
        <textarea class="output-box" rows="5">{{ output }}</textarea>
      </div>
    </main>
    <script src="../static/script/main_script.js"></script>
  </body>
</html>
